<div class="outer xl:outer-xl {{#page}} {{post_class}} {{/page}}">
    <div class="inner">

        {{!-- Hero section --}}
        {{#page}}
            {{> hero showContent="true"}}
        {{/page}}

        {{!-- Featured Posts --}}
        {{#with ./page}} {{!-- Back to page context --}}
            {{#has tag="#blog-updated-at,#template-updated-at"}} {{!-- Use updated at --}}
                {{#get "posts" filter="featured:true+tags:hash-blog" order="updated_at desc" include="tags" limit="4" as |posts| }}
                    {{> featured-posts-grid useUpdatedAt="true" currentPage=.. }}
                {{/get}}
            {{else}}
                {{#get "posts" filter="featured:true+tags:hash-blog" include="tags" limit="4" as |posts| }}
                    {{> featured-posts-grid currentPage=.. }}
                {{/get}}
            {{/has}}
        {{/with}}

        {{!-- Feed / Timeline --}}
        <div data-pagination-feed class="max-w-[1200px] mx-auto py-16 sm:py-20 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
            <div class="md:col-span-2 lg:col-span-3 text-gray-500 dark:text-gray-400">
                {{t "Latest"}}
            </div>                      
            {{#foreach posts}}
                <div data-pagination-post class="{{post_class}}">
                    {{#if feature_image}}
                        <a href="{{url absolute="true"}}" class="group block mb-2">
                            <figure>
                                <div class="relative rounded-md overflow-hidden bg-gray-50 dark:bg-gray-800 
                                        after:absolute after:top-0 after:left-0 after:w-full after:h-full after:ring-1 after:ring-inset after:ring-gray-900/5 dark:after:ring-gray-50/5 after:rounded-md
                                        {{#with ../page}}
                                            {{#has tag="#template-cards-img-1-1"}} 
                                                aspect-w-1 aspect-h-1
                                            {{else has tag="#template-cards-img-3-4"}} 
                                                aspect-w-3 aspect-h-4 
                                            {{else has tag="#template-cards-img-4-3"}} 
                                                aspect-w-4 aspect-h-3 
                                            {{else has tag="#template-cards-img-4-5"}} 
                                                aspect-w-4 aspect-h-5 
                                            {{else has tag="#template-cards-img-5-4"}}
                                                aspect-w-5 aspect-h-4
                                            {{else has tag="#template-cards-img-9-16"}}
                                                aspect-w-9 aspect-h-16
                                            {{else}}
                                                aspect-w-16 aspect-h-9
                                            {{/has}}                                            
                                        {{/with}}
                                        ">
                                    <img
                                        class="lazyload !m-0 object-cover z-10 hover:scale-105"
                                        data-sizes="auto"
                                        data-srcset="{{> srcset }}"
                                        srcset="{{img_url feature_image size="xxs"}}"
                                        src="{{img_url feature_image size="xl"}}"
                                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                        loading="lazy"
                                    />
                                </div>
                            </figure>     
                        </a>
                    {{/if}}    
 
                    <h2>
                        <a class="font-semibold hover:opacity-80 text-gray-900 dark:text-gray-200" href="{{url absolute="true"}}">
                            {{title}}
                        </a>
                    </h2>

                    <div class="mt-1 text-gray-500 dark:text-gray-400">
                        {{!-- Use post published at vs updated at if #blog-updated-at is present --}}
                        {{#with ../page}} {{!-- Back to page context --}}
                            {{#has tag="#blog-updated-at,#template-updated-at"}}
                                {{#with ..}} {{!-- Back to current post context --}}
                                    <time class="capitalize" datetime="{{date updated_at format="YYYY-MM-DD"}}">
                                        {{date updated_at format="MMMM DD, YYYY"}}
                                    </time>
                                {{/with}}
                            {{else}}
                                {{#with ..}} {{!-- Back to current post context --}}
                                    <time class="capitalize" datetime="{{date format="YYYY-MM-DD"}}">
                                        {{date format="MMMM DD, YYYY"}}
                                    </time>
                                {{/with}}
                            {{/has}}
                        {{/with}}


                        {{#foreach tags limit="1"}}
                            <span class="opacity-50"> — </span>
                            <a class="hover:opacity-80" href="{{url absolute="true"}}">
                                {{name}}
                            </a>
                        {{/foreach}}
                    </div>
                </div>
            {{/foreach}}
        </div>

        {{#if pagination}}
            <div class="flex justify-center">
                <button 
                    data-pagination-btn
                    data-total-pages="{{pagination.pages}}"
                    class="group hidden text-sm font-semibold my-16 sm:my-20 hover:opacity-80 dark:text-gray-200">
                    <span class="flex items-center">
                        {{t "Load more"}}

                        {{> icons/arrow-sm-down class="w-4 h-4 ml-0.5 group-[.loading]:hidden"}}
                        {{> icons/loader class="w-4 h-4 ml-0.5 hidden group-[.loading]:inline"}}
                    </span>
                </button>
            </div>
        {{/if}}
    </div>
</div>